*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url("./images/netflixbg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    height: 90vh;
    /* height: auto; */
    position: relative;
  
}
.main.box{
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    padding: 10px;
    height: 62px;
}
/* nav button{
    position: relative;
    z-index: 10;
    background-color: #e50914;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;    
} */
nav img{
    width: 144px;
    position: relative;
    z-index: 10;
    padding-left: 20px;
    padding-top: 15px;
}
.box{
    z-index: 5;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
    gap : 23px;
    padding:0 20px;
}
.hero h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    /* margin-bottom: 20px; */
}
.hero h3{
    font-size: 1.5rem;
    /* margin-bottom: 30px; */
    font-weight: 500;
}
.hero p{
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
    font-weight: 400;
}
.hero form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    width: 400px;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 7px;
    justify-self: center;
    font-weight: bold;
   
}
#button{
    padding: 5px;
    font-size: 1.2rem;
    background-color: #e50914;
    color: white;
    border: none;
}
.form{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 0px 20px;
    padding: 5px;
}
body{
    background-color: black;
}
.seperation{
height: 7px;
background-color: #3b3a3a;

}
.btn{
    padding: 5px 10px;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 7PX;
}
.btn-red{
    background-color: #e50914;
    color: white;
}
.btn-sn{
    background-color: rgb(23, 23, 23, 0.7);
    color: white;
}
.input{
     background-color:rgb(23, 23, 23, 0.2);
}

section.second{   
     display: flex;
    flex-direction: row-reverse;
}

.secimg{
    /* position: relative; */
    width: 30vw;
}
.secimg img{
    width: 30vw;
    /* position: absolute; */
    z-index: 10;
    /* height: 150px; */
}
.secimg video{
    width: 30vw;
    position: absolute;
}

.first{
    color: white;
    justify-content: center;
    max-width: 70vw;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
}
section.first>div{
    display: flex;
    flex-direction:column;
     align-items: center;
    justify-content: center;
    width: 80%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq{
    color: white;
    text-align: center;
    margin: 50px auto;
}
.box{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box span{
    background-color: rgb(23, 23, 23, 0.7);
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid gray;
}
.box span {
    width: 700px;
    max-width: 90vw;
}
.faq h2{
    margin-bottom: 30px;
    font-size: 2.5rem;
}
.favbox:hover{
    transition:all 0.3s ease-in-out;
    background-color: rgba(121, 117, 117, 0.9);


}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.footer-item{
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 60vw;
    margin :auto;
    padding: 10px;
    gap: 15px;
}
footer{color: white;
    padding: 10px;
    margin-top: 10px;
    max-width: 60vw;
    margin-left: 20vh;}
footer button{
    padding: 7px 20px;
    margin:auto;
    font-weight: bold;
    background: rgba(23, 23, 23, 0.3);
    color: white;
    border:0.5px solid gray;
    border-radius: 15px;
}
footer h4,h3{
    margin:  auto;
    padding: 10px;
    max-width: 60vw;
}
