/* body{
    color: red;
} */
 /* p{
    background-color: blue;
 }

 a{
    background-color: aqua;
 } */

 /* .red{
   color: rgb(255, 0, 0);
 }
 .bg-yellow{
   background-color: yellow;
 }
 #firstdiv{
color: rgb(0, 128, 47);
 } */