*{
    padding: 0;
    margin: 0;
}
.main{
    background-image: url("./images/netflixbg.jpg");
    background-position: center center;
    /* background-size: max(1200px,100vw); */
    background-size: cover; 
    /* added */
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
  
}
.main.box{
    height: 644px;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw;
    margin: auto;
    /* padding: 10px; */
    height: 100px;
}
nav img{
    max-width: 143px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    padding-left: 0px;
    padding-top: 15px;
}
.box{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 85%;
}
.hero{
   
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    position: relative;
    z-index: 10;
    gap : 23px;
    padding:0 20px;
     width: 50%;
    }
.hero h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    /* margin-bottom: 20px; */
}
.hero span{
    font-size: 1.5rem;
    /* margin-bottom: 30px; */
    font-weight: 500;
}
.hero p{
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
    font-weight: 400;
}
/* .hero form{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#email{
    width: 400px;
    max-width: 60vw;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 7px;
    justify-self: center;
    font-weight: bold;
   
}
#button{
    padding: 5px;
    font-size: 1.2rem;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 7px;
}
.form{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 0px 20px;
    padding: 5px;
    flex-wrap: wrap;
}
body{
    background-color: black;
}
.seperation{
height: 7px;
background-color: #3b3a3a;
position: relative;
z-index: 20;
}
.btn{
    padding: 5px 10px;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 7PX;
    cursor: pointer;
}
.btn-red{
    background-color: #e50914;
    color: white;
}
.btn-sn{
    background-color: rgb(23, 23, 23, 0.7);
    color: white;
    border: 1px solid white;
}
.input{
     background-color:rgb(23, 23, 23, 0.2);
     border: 1px solid gray;
}
.first{
    color: white;
    justify-content: center;
    max-width: 1100px;
    padding: 70px 45px;
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
   justify-content: space-between;
    /* flex-direction: row; */
    flex-wrap: wrap;
}


.secimg{
    position: relative;
    /* width: 30vh; */
}
.secimg img{
    /* width: 555px; */
    width: 100%;
    min-width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    margin-top: 0;
    /* height: 150px; */
}
.secimg video{
    /* width: 555px; */
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    top:51px;
    right: 0;;
}


section.first>div{
    display: flex;
    flex-direction:column;
     align-items: center;
    justify-content: center;
    /* width: 80%; */
    flex-basis : 48%;
    min-width: 200px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq{
    color: white;
    text-align: center;
    margin: 50px auto;
}
.box{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box .span{
    background-color: rgb(23, 23, 23, 0.7);
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 0.5px solid gray;
}
.box span {
    width: 700px;
    max-width: 90vw;
}
section.second{   
     display: flex;
    flex-direction: row-reverse;
}
.faq h2{
    margin-bottom: 30px;
    font-size: 2.5rem;
}
.favbox:hover{
    transition:all 0.3s ease-in-out;
    background-color: rgba(121, 117, 117, 0.9);


}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.footer-item{
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 60vw;
    margin :auto;
    padding: 10px;
    gap: 15px;
}
footer{color: white;
    padding: 10px;
    margin-top: 10px;
    max-width: 60vw;
    margin-left: 20vh;
}
footer button{
    max-width: 60vw;
    padding: 7px 20px;
    margin:15px 30px;
    font-weight: bold;
    background: rgba(23, 23, 23, 0.3);
    color: white;
    border:0.5px solid gray;
    border-radius: 15px;
}
footer h4,h3{
padding-left:  30px;
    max-width: 60vw;
    margin:  auto;
    
}
